
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Check Point Reputation API</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <img class="logo" src=/images/cloudguard.png 
      <fieldset>
        <form action="/" method="post">
          <input name="apiKey" type="password" class="ghost-input" placeholder="Enter API Key" required>
          <input name="targetUrl" type="text" class="ghost-input" placeholder="Enter URL" required>
          <input type="submit" class="ghost-button" value="Get Reputation">
        </form>
        <br><br>
        <% if(status !== null){ %>
           
           <h1>Resource:
           <% if(status.resource !== null){ %>
           <%= status.resource %><br>
           <% } %>
           <% if(status.risk !== null){ %>
           Risk:
          <%= status.risk %><br>
          <% } %>
          <% if(status.reputation.classifcation !== null){ %>
          Classification:
          <%= status.reputation.classifcation %><br>
          <% } %>
          <% if(status.reputation.severity  !== null){ %>
          Severity:
          <%= status.reputation.severity %><br>
          <% } %>
          Confidence:
          <% if(status.reputation.confidence !== null){ %>
          <%= status.reputation.confidence%><br>
          <% } %>
         </h1>
        <% } %>      
        </fieldset>
    </div>
  </body>
